wheel
torch
tiktoken
Pillow
huggingface-hub
pandas
opencv-python
onnxruntime-gpu
git+https://github.com/KichangKim/DeepDanbooru.git@d91a2963bf87c6a770d74894667e9ffa9f6de7ff
tensorflow; platform_system != "Windows"
tensorflow<2.11; platform_system == "Windows"
open-clip-torch
